span.graph-panel-icon {
  font-size: 0.75em;
}

.active-graph-title {
  word-break: break-all;
}

.graph-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
